<div class="container-fluid pt-4 px-4" id="form_AddNewCate">
    <div class="col-sm-12 col-xl-6"></div>
    <div class="bg-secondary rounded h-100 p-4">
      <h6 class="mb-4">Danh sách đơn hàng</h6>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-hover table-bordered table-striped mb-0">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Mã</th>
              <th scope="col">Khách hàng</th>
              <th scope="col">Ngày đặt</th>
            </tr>
          </thead>
          <tbody id="list_Order"></tbody>
        </table>
      </div>
    </div><br>
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Chi tiết đơn hàng</h6>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-hover table-bordered table-striped mb-0">
            <thead>
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Thành tiền</th>
                <th scope="col">Ngày đặt</th>
              </tr>
            </thead>
            <tbody id="list_OrderDetails"></tbody>
          </table>
        </div>
        <h6 class="mb-4" id="tongTien">Tổng tiền: 00</h6>
      </div>
  </div>
  
  <script>
    $(document).ready(function () {
      var url = "http://localhost:3000";
  
      function loadOrder() {
        $.post(url + "/order", function (data2) {
          if (data2.kq == 1) {
            $("#list_Order").html("");
            var STT = 0;
            data2.orderList.forEach(function (order) {
              STT++;
              $("#list_Order").append(
                `
              <tr class="order"
                  orderCode1="`+order.Code +`" orderId1="`+order.user[0]._id+`">
                  <td>` +
                  STT +
                  `</td>
                  <td>` +
                    order.Code +
                  `</td>
                  <td>` +
                    order.user[0].Name +
                  `</td>
                  <td>` +
                    order.Orderdate +
                  `</td>
              </tr>`
              );
            });
          } else {
            console.log("No ok");
          }
        });
      }
  
      loadOrder();
  
      $("#hinhsp").change(function () {
        var data = new FormData();
        jQuery.each(jQuery("#hinhsp")[0].files, function (i, file) {
          data.append("hinhdaidien", file);
        });
  
        jQuery.ajax({
          url: url + "/uploadFile",
          data: data,
          cache: false,
          contentType: false,
          processData: false,
          method: "POST",
          type: "POST", // For jQuery < 1.9
          success: function (data) {
            if (data.kq == 1) {
              //console.log(data);
              $("#file_ImageProduct").val(data.urlFile.filename);
              $("#ImgProductNew").attr(
                "src",
                url + `/upload/` + data.urlFile.filename
              );
            } else {
              alert("Upload fail!");
            }
          },
        });
      });
  
      $("#hinhsp_Detail").change(function () {
        var data = new FormData();
        jQuery.each(jQuery("#hinhsp_Detail")[0].files, function (i, file) {
          //console.log("hinhdaidien");
          data.append("hinhdaidien", file);
        });
  
        jQuery.ajax({
          url: url + "/uploadFile",
          data: data,
          cache: false,
          contentType: false,
          processData: false,
          method: "POST",
          type: "POST", // For jQuery < 1.9
          success: function (data) {
            if (data.kq == 1) {
              //console.log(data);
              //$("#imgAvatar").attr("src","upload/" + data.file);
              $("#product_Detail").attr(
                "src",
                url + `/upload/` + data.urlFile.filename
              );
              $("#file_ImageProduct_Details").val(data.urlFile.filename);
            } else {
              console.log("Upload fail!");
            }
          },
        });
      });
  
      $("#btn_Add_New_Product").click(function () {
        if (
          $("#productName").val().length == 0 ||
          $("#file_ImageProduct").val().length == 0
        ) {
          alert("Vui lòng nhập tên và chọn hình");
        } else {
          $.post(
            url + "/product/AddNew",
            {
              Code: $("#productCode").val(),
              Name: $("#productName").val(),
              ExportPrice: $("#productExportPrice").val(),
              ImportPrice: $("#productImportPrice").val(),
              Image: $("#file_ImageProduct").val(),
            },
            function (data) {
              ///console.log(data);
              if (data.kq == 1) {
                loadProduct();
              } else {
                console.log("No ok");
              }
            }
          );
        }
      });
  
      $(document).on("click", ".order", function () {
        var orderID = $(this).attr("orderId1");
        console.log(orderID);
        $.post(
          url + "/orderdetails",
          {
            OrderID: orderID,
          },
          function (data) {
            console.log(data);
            if (data.kq == 1) {
                $("#list_OrderDetails").html("");
                var STT = 0;
                var tongTien = 0;
                data.OrderDetails.forEach(function (orderDetails) {  
                    tongTien+=  orderDetails.product[0].ExportPrice["$numberDecimal"]*orderDetails.Quantity ;
                    STT++;
                    $("#list_OrderDetails").append(
                        `<tr class="orderDetails">
                            <td>` +
                            STT +
                            `</td>
                            <td>` +
                                orderDetails.product[0].Name +
                            `</td>
                            <td>` +
                                orderDetails.Quantity +
                            `</td>
                            <td>` +
                                orderDetails.product[0].ExportPrice["$numberDecimal"] + 
                            `</td>
                            <td>` +
                                orderDetails.product[0].ExportPrice["$numberDecimal"]*orderDetails.Quantity + 
                            `</td>
                            <td>` +
                                orderDetails.Orderdate + 
                            `</td>
                        </tr>`
                    );
                    });
                $("#tongTien").html("");
                $("#tongTien").append("Tổng tiền: " +tongTien+ " VNĐ");    
                
            } else {
              console.log(data);
            }
          }
        );
      });
  
      $("#btn_Update_Product").click(function () {
        $.post(
          url + "/product/update",
          {
            idProduct: $("#idProduct_Detail").val(),
            Name: $("#productName_Detail").val(),
            Code: $("#productCode_Detail").val(),
            ExportPrice: $("#productExportPrice_Detail").val(),
            ImportPrice: $("#productImportPrice_Detail").val(),
            ImageProduct: $("#file_ImageProduct_Details").val(),
          },
          function (data) {
            if (data.kq == 1) {
              //alert("Update");
              loadProduct();
            } else {
              console.log(data);
              alert("Update product failed: " + data.errMsg);
            }
          }
        );
      });
  
      $("#btn_Delete_Product").click(function () {
        var chon = confirm("Are you sure you want to delete?");
        if (chon) {
          $.post(
            url + "/product/delete",
            { idProduct: $("#idProduct_Detail").val() },
            function (data) {
              if (data.kq == 1) {
                loadProduct();
              } else {
                alert("Delete product failed: " + data.errMsg);
              }
            }
          );
        }
      });
    });
  </script>
  