<div class="container-fluid pt-4 px-4" id="form_AddNewCate">
  <div class="col-sm-12 col-xl-6"></div>
  <div class="bg-secondary rounded h-100 p-4">
    <h6 class="mb-4">Danh sách sản phẩm</h6>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-hover table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã</th>
            <th scope="col">Tên</th>
            <th scope="col">Giá Nhập</th>
            <th scope="col">Giá Xuất</th>
          </tr>
        </thead>
        <tbody id="list_Product"></tbody>
      </table>
    </div>
  </div>
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6 p-4">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Thêm mới</h6>
        <div class="mb-3">
          <label for="productCode" class="form-label">Mã</label>
          <input type="text" class="form-control" id="productCode" />
        </div>
        <div class="mb-3">
          <label for="productName" class="form-label">Tên</label>
          <input type="text" class="form-control" id="productName" />
        </div>
        <div class="mb-3">
          <label for="productName" class="form-label">Giá Nhập</label>
          <input type="text" class="form-control" id="productImportPrice" />
        </div>
        <div class="mb-3">
          <label for="productName" class="form-label">Giá Xuất</label>
          <input type="text" class="form-control" id="productExportPrice" />
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Hình ảnh</label>
          <input class="form-control bg-dark" type="file" id="hinhsp" />
        </div>
        <img
          id="ImgProductNew"
          data-src="holder.js/100px250"
          class="img-fluid"
          alt="100%x250"
          style="height: 250px; width: 100%; display: block"
          src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22778%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20778%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_182d97126e5%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A39pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_182d97126e5%22%3E%3Crect%20width%3D%22778%22%20height%3D%22250%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22289.234375%22%20y%3D%22142.4%22%3E778x250%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true"
        />
        <!-- <input
                    type="button"
                    class="btn btn-primary"
                    id="btn_Add_New_Cate"
                    value="Thêm mới"/> -->
        <button
          type="button"
          class="btn btn-outline-primary m-2"
          id="btn_Add_New_Product"
        >
          Thêm mới
        </button>
        <input type="hidden" id="file_ImageProduct" />
        <img id="ImgProductNew" width="100px" src="" />
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 p-4">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Cập Nhật</h6>
        <div class="mb-3">
          <label for="productCode_Detail" class="form-label">Mã</label>
          <input type="text" class="form-control" id="productCode_Detail" />
        </div>
        <div class="mb-3">
          <label for="productName_Detail" class="form-label">Tên</label>
          <input type="text" class="form-control" id="productName_Detail" />
        </div>
        <div class="mb-3">
          <label for="productImportPrice_Detail" class="form-label"
            >Giá Nhập</label
          >
          <input
            type="text"
            class="form-control"
            id="productImportPrice_Detail"
          />
        </div>
        <div class="mb-3">
          <label for="productExportPrice_Detail" class="form-label"
            >Giá Xuất</label
          >
          <input
            type="text"
            class="form-control"
            id="productExportPrice_Detail"
          />
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Hình ảnh</label>
          <input class="form-control bg-dark" type="file" id="hinhsp_Detail" />
        </div>
        <img
          id="product_Detail"
          data-src="holder.js/100px250"
          class="img-fluid"
          alt="100%x250"
          style="height: 250px; width: 100%; display: block"
          src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22778%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20778%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_182d97126e5%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A39pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_182d97126e5%22%3E%3Crect%20width%3D%22778%22%20height%3D%22250%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22289.234375%22%20y%3D%22142.4%22%3E778x250%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true"
        />
        <!-- <input
                    type="button"
                    class="btn btn-primary"
                    id="btn_Add_New_Cate"
                    value="Thêm mới"/> -->
        <button
          type="button"
          class="btn btn-outline-success m-2"
          id="btn_Update_Product"
        >
          Cập Nhật
        </button>
        <button
          type="button"
          class="btn btn-outline-danger m-2"
          id="btn_Delete_Product"
        >
          Xóa
        </button>
        <input type="hidden" id="file_ImageProduct_Details" />
        <input type="hidden" id="idProduct_Detail" />
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var url = "http://localhost:3000";

    function loadProduct() {
      $.post(url + "/product", function (data2) {
       
        if (data2.kq == 1) {
          $("#list_Product").html("");
          var STT = 0;
          data2.ProductList.forEach(function (product) {
            STT++;
            $("#list_Product").append(
              `
            <tr class="product" srcHinh="` +
                product.Image +
                `" productID="` +
                product._id +
                `" productName1="` +
                product.Name +
                `"
                productCode1="` +
                product.Code +
                `"
                productExportPrice1="` +
                product.ExportPrice["$numberDecimal"] +
                `"
                productImportPrice1="` +
                product.ImportPrice["$numberDecimal"] +
                `">
                <td>` +
                STT +
                `</td>
                <td>` +
                product.Code +
                `</td>
                <td>` +
                product.Name +
                `</td>
                <td>` +
                product.ExportPrice["$numberDecimal"] +
                `</td>
                <td>` +
                product.ImportPrice["$numberDecimal"] +
                `</td>
            </tr>`
            );
          });
        } else {
          console.log("No ok");
        }
      });
    }

    loadProduct();

    $("#hinhsp").change(function () {
      var data = new FormData();
      jQuery.each(jQuery("#hinhsp")[0].files, function (i, file) {
        data.append("hinhdaidien", file);
      });

      jQuery.ajax({
        url: url + "/uploadFile",
        data: data,
        cache: false,
        contentType: false,
        processData: false,
        method: "POST",
        type: "POST", // For jQuery < 1.9
        success: function (data) {
          if (data.kq == 1) {
            //console.log(data);
            $("#file_ImageProduct").val(data.urlFile.filename);
            $("#ImgProductNew").attr(
              "src",
              url + `/upload/` + data.urlFile.filename
            );
          } else {
            alert("Upload fail!");
          }
        },
      });
    });

    $("#hinhsp_Detail").change(function () {
      var data = new FormData();
      jQuery.each(jQuery("#hinhsp_Detail")[0].files, function (i, file) {
        //console.log("hinhdaidien");
        data.append("hinhdaidien", file);
      });

      jQuery.ajax({
        url: url + "/uploadFile",
        data: data,
        cache: false,
        contentType: false,
        processData: false,
        method: "POST",
        type: "POST", // For jQuery < 1.9
        success: function (data) {
          if (data.kq == 1) {
            //console.log(data);
            //$("#imgAvatar").attr("src","upload/" + data.file);
            $("#product_Detail").attr(
              "src",
              url + `/upload/` + data.urlFile.filename
            );
            $("#file_ImageProduct_Details").val(data.urlFile.filename);
          } else {
            console.log("Upload fail!");
          }
        },
      });
    });

    $("#btn_Add_New_Product").click(function () {
      if (
        $("#productName").val().length == 0 ||
        $("#file_ImageProduct").val().length == 0
      ) {
        alert("Vui lòng nhập tên và chọn hình");
      } else {
        $.post(
          url + "/product/AddNew",
          {
            Code: $("#productCode").val(),
            Name: $("#productName").val(),
            ExportPrice: $("#productExportPrice").val(),
            ImportPrice: $("#productImportPrice").val(),
            Image: $("#file_ImageProduct").val(),
          },
          function (data) {
            ///console.log(data);
            if (data.kq == 1) {
              loadProduct();
            } else {
              console.log("No ok");
            }
          }
        );
      }
    });

    $(document).on("click", ".product", function () {
      var hinhSrc = $(this).attr("srcHinh");
      var nameProduct = $(this).attr("productName1");
      var code = $(this).attr("productCode1");
      var Eprice = $(this).attr("productExportPrice1");
      var Iprice = $(this).attr("productImportPrice1");
      var idProduct = $(this).attr("productid");
      console.log(Eprice.val);
      $("#product_Detail").attr("src", url + "/upload/" + hinhSrc);
      $("#productCode_Detail").val(code);
      $("#productName_Detail").val(nameProduct);
      $("#file_ImageProduct_Details").val(hinhSrc);
      $("#productExportPrice_Detail").val(Eprice);
      $("#productImportPrice_Detail").val(Iprice);
      $("#idProduct_Detail").val(idProduct);
    });

    $("#btn_Update_Product").click(function () {
      $.post(
        url + "/product/update",
        {
          idProduct: $("#idProduct_Detail").val(),
          Name: $("#productName_Detail").val(),
          Code: $("#productCode_Detail").val(),
          ExportPrice: $("#productExportPrice_Detail").val(),
          ImportPrice: $("#productImportPrice_Detail").val(),
          ImageProduct: $("#file_ImageProduct_Details").val(),
        },
        function (data) {
          if (data.kq == 1) {
            //alert("Update");
            loadProduct();
          } else {
            console.log(data);
            alert("Update product failed: " + data.errMsg);
          }
        }
      );
    });

    $("#btn_Delete_Product").click(function () {
      var chon = confirm("Are you sure you want to delete?");
      if (chon) {
        $.post(
          url + "/product/delete",
          { idProduct: $("#idProduct_Detail").val() },
          function (data) {
            if (data.kq == 1) {
              loadProduct();
            } else {
              alert("Delete product failed: " + data.errMsg);
            }
          }
        );
      }
    });
  });
</script>
